.container {
    padding-right: 100px;
    /* Custom padding */
    padding-left: 25px;
    /* Custom padding */
    margin-right: auto;
    margin-left: 50px;
    width: auto !important;
    align-content: center;
    justify-content: center;

}

.navbar navbar-default navbar-fixed-top {
    display: flex !important;
    justify-content: space-between;
    /* Distribute space between items */
    align-items: center;
    margin-right: auto !important;
    margin-left: auto !important;
}

.navbar-right {
    float: none !important;
    margin-left: 10px;
    margin-right: 10px;
    display: flex !important;
    width: auto !important;
}

.navbar-collapse.collapse {

    width: 100% !important;
}