body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.container-flex {
  display: flex;
  flex-direction: unset;
  flex-wrap: wrap;
  gap: 20px;
}

.card h3 {
  color: #C90B73;
}

.hub-image {
  position: relative;
  top: 0px;
  right: 800px;
  z-index: -1;
  width: 1px;
  height: 10px;
}

.hub-image img {
  width: 800px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.mb-0 {
  margin-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}

.container-left {
  align-items: flex-start;
}

.text-left {
  text-align: left;
}

/* ----------- 650px ----------- */
@media only screen and (max-width: 650px) {
    .card {
      flex: 0 0 99.9%;
    }
    .sm-card {
      flex: 0 0 99.9%;
    }
    .hub-image {
      right: 400px;
    }
    .hub-image img {
      display: none;
      width: 400px;
    }
    .w-75 {
      width: 100%;
    }
}

/* ----------- 650px - 950px ----------- */
@media only screen and (min-width: 651px)
  and (max-width: 950px) {
    .card {
      flex: 0 0 99.9%;
      
    }
    .sm-card {
      flex: 0 0 99.9%;
    }
    .w-75 {
      width: 100%;
    }
    .hub-image {
      right: 400px;
    }
    .hub-image img {
      width: 400px;
    }
}

/* ----------- 950px - 1200px ----------- */
@media only screen and (min-width: 951px) and (max-width: 1200px) {
    .card {
      flex: 0 0 46%;
    }
    .sm-card {
      flex: 0 0 45%;
    }
    .hub-image {
      right: 600px;
    }
    .hub-image img {
      width: 600px;
    }
}

/* ----------- 1200px + ----------- */
@media only screen and (min-width: 1201px) {
    .card {
      flex: 0 0 22%;
    }
    .sm-card {
      flex: 0 0 45%;
    }
    .hub-image {
      right: 800px;
    }
    .hub-image img {
      width: 800px;
    }
    
}

h1 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  text-shadow: 4px 4px #C90B73;
  text-transform: uppercase;
  margin: 30px 0px;
}

h2 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-shadow: 3px 3px #C90B73;
  text-transform: uppercase;
  margin: 30px 0px;
}

h3 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0px;
}

h4 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 2px #C90B73;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0px 20px 0px;
}

h5 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0px;
}

p {
  font-weight: 200;
  font-size: 24px;
  color: #fff;
}

.sm-card p {
  font-size: 18px;
  font-weight: 400;
}

span {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}